h1{
    color: orangered;
    text-align: center;
}

h2{
    color: blue;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}

img{
    width: 800px;
    height: 600px;
    box-align : center;
}