h1{
    color: orangered;
    text-align: center;
}

h2{
    color: blue;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}

img{
    width: 1050px;
    height: 650px;
    background-color: black;
}